.photo-grid {
  margin: 92px 48px 0;
  padding: 0;
  max-width: calc(100% - 2*48px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    margin-left: 24px;
    margin-right: 24px;
    max-width: calc(100% - 2*24px);
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .photo-grid {
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: calc(100% - 2*16px);
    grid-template-columns: 100%;
    row-gap: 12px;
  }
}
