.intro__list {
  margin: 33px 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* жирность текста и числовых значений идентична для всех разрешений согласно макету */
  color: #FFFFFF;
  list-style: none;
  padding: 0;
}



