.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  width: 40%;
  margin: 32px auto 0;
  display: flex;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .cover__subtitle {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .cover__subtitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .cover__subtitle {
    width: calc(100% - 16px * 2);
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.14;
  }
}
