.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 412px 245px;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    margin: 195px 232px 32px;
    margin: 0 332px 195px;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin: 0 203px 115px;
  }
}

@media screen and (max-width: 480px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin: 0 16px 33px;
  }
}
