.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s ease-in;
}

.footer__link:hover{
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .footer__link {
    line-height: 14px;
  }
}
