.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: calc(100% - 2*16px);
  }
}
