.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .footer__links {
    width: 186px;
    flex-direction: column;
  }
}
