.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0 0 26px 40px;
}

.place__paragraph:last-of-type {
  margin: 0 0 0 40px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 27px 32px;
  }

  .place__paragraph:last-of-type {
    margin: 0 0 0 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px 28px;
    font-size: 16px;
  }

  .place__paragraph:last-of-type {
    margin: 0 0 0 28px;
  }
}

@media screen and (max-width: 480px) {
  .place__paragraph {
    max-width: calc(100% - 2*16px);
    margin: 0 16px 25px;
    font-size: 16px;
  }

  .place__paragraph:last-of-type {
    margin: 0 16px 0;
  }
}
