.cover {
  margin: 92px auto 0;
  width: calc(100% - 2*48px);
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 480px) {
  .cover {
    margin-top: 66px;
  }
}
