.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .cover__title {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .cover__title {
    width: 100%;
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .cover__title {
    width: 90%;
    font-size: 44px;
    line-height: 58px;
  }
}

@media screen and (max-width: 500px) {
  .cover__title {
    width: calc(100% - 16px * 2);
    font-size: 32px;
    line-height: 1.09;
  }
}
