.footer {
  margin: 92px auto 24px;
  width: calc(100% - 2*48px);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .footer {
    width: 186px;
    margin-left: 16px;
    flex-direction: column;
  }
}
